body{
    background-color: rgb(19, 15, 44);

}
h1{
    text-align: center;
    color: white;
    font-size: 4rem;
}
.set{
    margin-top: 16%;
    text-align: center;
}
button{
    margin: 10px;
}
.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
opacity: 0.5;
}
.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
p{
    margin-top: 50px;
    color: white;
    text-align: center;
}

.w{
background-image:url("images/tom1.png") ;
 }

.a{
    background-image:url("images/tom2.png") ;
}

.s{
    background-image:url("images/tom3.png") ;
}

.d{
    background-image:url("images/tom4.png") ;
}

.j{
    background-image:url("images/snare.png") ;
}

.k{
    background-image:url("images/crash.png") ;
}

.l{
    background-image:url("images/kick.png") ;
}
